{{/*

 Dig for values in a complex structure (lists and dictionaries)

 */}}


{{- define "rdeploy.dig.bdig" }}
{{- /*PREPARE PATH LIST*/}}
{{- $path := index . 0 }}
{{- $values := index . 1 }}
{{- $previous := "" }}
{{- $path_parts := list }}
{{- range regexFindAll "([^.])+" $path -1 }}
{{- $current_part := . }}
{{- if hasSuffix "\\" . }}
{{- $previous = printf "%s%s." $previous (regexReplaceAll "[\x5c\x5c]$" . "")}}
{{- else }}{{/*IF SUFFIX*/}}
{{- $current_part := . }}
{{- if not (empty $previous) }}
{{- $current_part = printf "%s%s" $previous . }}
{{- end }}{{/*IF EMPTY PREVIOUS*/}}
{{- $path_parts = append $path_parts $current_part }}
{{- $previous = "" }}
{{- end }}{{/*SUFFIX*/}}
{{- end }}{{/*RANGE FINDALL*/}}
{{- /*TRAVERSE STRUCTURE*/}}
{{- $current_level := $values }}
{{- range $path_parts }}
{{- if (kindIs (kindOf dict) $current_level) }}
{{- $current_level = index $current_level . }}
{{- else -}}
{{- $current_level = index $current_level (atoi .) }}{{/*TODO CHECK IF EXISTS AND RETURN DEFAULT IF NOT*/}}
{{- end }}{{/*IF TYPEIS*/}}
{{- end }}{{/*RANGE PARTS*/ -}}
{{- $current_level | toYaml -}}
{{- end -}}{{/*DEFINE*/}}

{{/*
 Shorter alias without helm chart name prefix
 */}}
{{- define "bdig" -}}
{{- include "rdeploy.dig.bdig" . -}}
{{- end -}}
